* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

.top {
    background-color: black;
}

.nav {
    width: 1080px;
    margin: 0 auto;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    width: 700px;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}

.nav a {
    color: white;
}

.title {
    margin-left: 20px;
}

.btn {
    height: 35px;
    width: 100px;
    background-color: crimson;
    color: white;
    border: none;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col, .col-2 {
    margin: 10px;
    padding: 10px;
    flex: 1;
}

.col-2 {
    flex: 2;
}

.flex-container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-card {
    width: 500px;
    background-color: white;
    border: 2px solid gray;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.card {
    width: 500px;
    background-color: white;
    border: 2px solid gray;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.card-header {
    background-color: rgb(12, 138, 29);
    height: 125px;
    margin-bottom: 70px;
}

.card-body {
    padding: 20px;
}

.card-body h1, 
.card-body h2,
.card-body h3,
.card-body p {
    margin: 20px 0px;
}

.jane {
    border-radius: 100px;
    background-color: white;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.icon {
    height: 20px;
}

a {
    color: blue;
}

.header {
    background-color: darkgrey;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.picture {
    border-radius: 50px;
    height: 48px;
    margin-right: 10px;
}

.user-line {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.start, .end {
    display: flex;
    align-items: center;
}

.dates {
    color: gray;
}

.footer {
    padding: 20px;
    border-top: 2px solid gray;
}

.connections {
    background-color: white;
    color: black;
    border-radius: 15px;
    height: 20px;
    padding: 0 10px;
    margin-right: 10px;
}